@font-face {
  font-family: Montserrat;
  src: url('/font/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: Gandhara;
  src: url('/font/Montserrat-VariableFont_wght.ttf');
}

.Montserrat {
  font-family: Montserrat;
}

.Gandhara {
  font-family: Gandhara;
}

.txt-color {
  @apply text-cyan-500 dark:text-slate-500
}

.txt-color-hover {
  @apply hover:text-cyan-500 dark:hover:text-slate-500
}

.dark-theme {
  @apply text-white transition-colors duration-500
}

.light-theme {
  @apply text-black transition-colors duration-500
}

.nav {
  @apply bg-gradient-to-r from-cyan-500 to-cyan-100 dark:bg-gradient-to-r dark:from-slate-800 dark:to-slate-500
}

.menu-overlay{
  @apply bg-cyan-500
}

.dark-bg {
  @apply bg-cyan-50 dark:bg-slate-900
}

.light-bg {
  @apply bg-cyan-50 dark:bg-slate-800
}

.contrast {
  @apply bg-white dark:bg-slate-700
}