@font-face {
  font-family: Montserrat;
  src: url('/font/Montserrat-VariableFont_wght.ttf');
}

.Montserrat {
  font-family: Montserrat;
}


.txt-color {
  @apply text-teal-500 dark:text-slate-500
}

.dark-theme {
  @apply text-white transition-colors duration-300
}

.light-theme {
  @apply text-black transition-colors duration-300
}

.nav {
  @apply bg-gradient-to-r from-teal-800 to-teal-500 dark:bg-gradient-to-r dark:from-slate-800 dark:to-slate-500
}

.dark-bg {
  @apply bg-slate-200 dark:bg-slate-900
}

.light-bg {
  @apply bg-slate-50 dark:bg-slate-800
}

.contrast {
  @apply bg-slate-100 dark:bg-slate-700
}